@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap"); // [Rubik] 300 400 500

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Rubik";

  position: relative;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

.flex {
  display: flex;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-se {
    justify-content: space-evenly;
  }

  &-ai-c {
    align-items: center;
  }

  &-column {
    flex-direction: column;
  }
}

.container {
  position: relative;
  min-height: 100vh;

  z-index: 2;

  padding: 120px 200px;
}

.display-none {
  display: none;
}

.bgEl {
  position: absolute;
  bottom: 60px;
  left: 20px;

  transform: scale(5);

  z-index: 2;

  opacity: 0.3;
}

.bg {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  position: absolute;
}

.header {
  padding: 30px;
  position: absolute;
  z-index: 5;

  width: 100%;

  img {
    width: 80px;

    filter: brightness(0) invert(1);
  }

  h1 {
    color: white;

    margin-left: 25px;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 150px 50px 50px 50px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 150px 35px 35px 35px;
  }
}
